<div class="relative h-[40vh] md:h-[50vh] w-full overflow-hidden">
  <!-- عکس بک‌گراند -->
  <div class="absolute inset-0 bg-[url('/images/handshake.jpg')] bg-cover bg-center scale-105"></div>

  <div class="absolute inset-0 bg-linear-to-t from-porcelain-900 backdrop-blur-[2px] flex items-center justify-center text-center p-4">
    <div class="transition-opacity flex flex-col items-center justify-center duration-700 ease-in-out">
      <div class="w-12 h-1 mb-5 bg-gradient-to-r from-transparent via-porcelain-500 to-transparent rounded-full opacity-60"></div>
      <h2 class="text-3xl md:text-5xl font-black text-white mb-4">
        همکاری با <span class="font-marjor text-transparent bg-clip-text bg-gradient-to-l from-porcelain-300 to-porcelain-500 tracking-wider">OTEX</span>
      </h2>
      <!-- استفاده از کامپوننت مجزای شما -->
      <app-hero-subtitle/>
    </div>
  </div>
</div>

