

@import 'tailwindcss';

@import "./app/pages/cooperation/cooperation.css";

button div {
  -webkit-tap-highlight-color: transparent;
}

@theme{
  /* تعریف خانواده فونت انجمن*/
  --font-anjoman: 'Anjoman', sans-serif;
  --font-iran: 'IRANSansFaNum', sans-serif;
  --font-monoton: 'Monoton', Anjoman;
  --font-marjor: 'marjor', Anjoman;
  /* (اختیاری) اگر می‌خواهید انجمن فونت پیش‌فرض کل سایت شود این خط را هم اضافه کنید*/
  --font-sans: 'Anjoman', 'IRANSansFaNum', ui-sans-serif, system-ui, sans-serif;

  /* تولید کلاس برای وزن‌های اختصاصی که تیلویند به صورت پیش‌فرض ندارد*/
  --font-weight-ultrabold: 850;
  --font-weight-heavy: 950;
  --font-weight-superheavy: 1000;

  --color-porcelain-50: #fcf7e8;
  --color-porcelain-100: #f9eed2;
  --color-porcelain-200: #f4dda4;
  --color-porcelain-300: #eecc77;
  --color-porcelain-400: #e9bb49;
  --color-porcelain-500: #e3ab1c;
  --color-porcelain-600: #b68816;
  --color-porcelain-700: #886611;
  --color-porcelain-800: #5b440b;
  --color-porcelain-900: #2d2206;
  --color-porcelain-950: #201804;

  --color-pacific-blue-50: #edf6f8;
  --color-pacific-blue-100: #dbedf0;
  --color-pacific-blue-200: #b6dbe2;
  --color-pacific-blue-300: #92c8d3;
  --color-pacific-blue-400: #6db6c5;
  --color-pacific-blue-500: #49a4b6;
  --color-pacific-blue-600: #3a8392;
  --color-pacific-blue-700: #2c626d;
  --color-pacific-blue-800: #1d4249;
  --color-pacific-blue-900: #0f2124;
  --color-pacific-blue-950: #0a171a;

  --color-reddish-brown-50: #f9efec;
  --color-reddish-brown-100: #f3ded8;
  --color-reddish-brown-200: #e6bdb2;
  --color-reddish-brown-300: #da9c8b;
  --color-reddish-brown-400: #cd7c65;
  --color-reddish-brown-500: #c15b3e;
  --color-reddish-brown-600: #9a4932;
  --color-reddish-brown-700: #743625;
  --color-reddish-brown-800: #4d2419;
  --color-reddish-brown-900: #27120c;
  --color-reddish-brown-950: #1b0d09;

  --text-2xs: 10px;
  --text-2xs--line-height: 14px;
  --breakpoint-xxs: 20rem;
  --breakpoint-sm: 41.25rem;
  --breakpoint-xs: 24rem;
}

@layer components {
  .form-input {
    @apply w-full rounded-xl border border-porcelain-300 bg-white/60 p-4
    focus:border-porcelain-500 focus:outline-none focus:ring-2 focus:ring-porcelain-500/20
    transition-all duration-300 placeholder-porcelain-600;
  }
}

@utility border-1.5{
  border-width: 1.5px;
}


@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Thin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marjor';
  src: url('/fonts/marjor/marjor.woff2') format('woff2');
  font-weight: 400; /* معادل کلاس font-thin*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marjor';
  src: url('/fonts/marjor/marjor.woff2') format('woff2');
  font-weight: 950; /* معادل کلاس font-thin*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-ExtraLight.woff2') format('woff2');
  font-weight: 200; /* معادل کلاس font-extralight*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/iran-sans/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2');
  font-weight: 200; /* معادل کلاس font-extralight*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Light.woff2') format('woff2');
  font-weight: 300; /* معادل کلاس font-light*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/iran-sans/IRANSansWeb(FaNum)_Light.woff2') format('woff2');
  font-weight: 300; /* معادل کلاس font-light*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Regular.woff2') format('woff2');
  font-weight: 400; /* معادل کلاس font-normal*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/iran-sans/IRANSansWeb(FaNum).woff2') format('woff2');
  font-weight: 400; /* معادل کلاس font-normal*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic; /* معادل کلاس italic*/
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Medium.woff2') format('woff2');
  font-weight: 500; /* معادل کلاس font-medium*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/iran-sans/IRANSansWeb(FaNum)_Medium.woff2') format('woff2');
  font-weight: 500; /* معادل کلاس font-medium*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-SemiBold.woff2') format('woff2');
  font-weight: 600; /* معادل کلاس font-semibold*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Bold.woff2') format('woff2');
  font-weight: 700; /* معادل کلاس font-bold*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/iran-sans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2');
  font-weight: 700; /* معادل کلاس font-bold*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* معادل کلاس font-extrabold*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Black.woff2') format('woff2');
  font-weight: 900; /* معادل کلاس font-black*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('/fonts/iran-sans/IRANSansWeb(FaNum)_Black.woff2') format('woff2');
  font-weight: 900; /* معادل کلاس font-black*/
  font-style: normal;
  font-display: swap;
}

/* =========================================
تعریف وزن‌های اختصاصی (بیشتر از ۹۰۰ یا مابین)
========================================= */

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-UltraBold.woff2') format('woff2');
  font-weight: 850; /* عدد اختصاصی برای UltraBold*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-Heavy.woff2') format('woff2');
  font-weight: 950; /* عدد اختصاصی برای Heavy*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anjoman';
  src: url('/fonts/anjoman/Anjoman-FaNum-SuperHeavy.woff2') format('woff2');
  font-weight: 1000; /* عدد اختصاصی برای SuperHeavy*/
  font-style: normal;
  font-display: swap;
}
