<div>
  <div class="flex justify-center items-center pt-4 px-4 gap-2">
    <svg class="size-12 md:size-20 text-porcelain-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
      <path d="M0 0h48v48H0z" fill="none"/>
      <defs>
        <mask id="SVGPfAb1cWI">
          <g fill="" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
            <path fill="" d="M24 40c8.837 0 16-7.163 16-16S32.837 8 24 8S8 15.163 8 24s7.163 16 16 16"/>
            <path fill="#555"
                  d="M24 28a4 4 0 1 0 0-8a4 4 0 0 0 0 8m0-24a20 20 0 0 1 20 20h-7.994A12.006 12.006 0 0 0 24 11.994z"/>
          </g>
        </mask>
      </defs>
      <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#SVGPfAb1cWI)"/>
    </svg>
    <p class="w-full font-bold text-porcelain-700 text-sm md:text-2xl">فروشگاه <span class="text-porcelain-600 font-black text-xl md:text-3xl">لنت <app-hero-title/></span>
    </p>
    <div class="flex items-center gap-2">
      <svg class="size-9 md:size-20 text-porcelain-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <path d="M0 0h256v256H0z" fill="none"/>
        <g fill="currentColor">
          <path d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96" opacity=".2"/>
          <path
            d="M140 180a12 12 0 1 1-12-12a12 12 0 0 1 12 12M128 72c-22.06 0-40 16.15-40 36v4a8 8 0 0 0 16 0v-4c0-11 10.77-20 24-20s24 9 24 20s-10.77 20-24 20a8 8 0 0 0-8 8v8a8 8 0 0 0 16 0v-.72c18.24-3.35 32-17.9 32-35.28c0-19.85-17.94-36-40-36m104 56A104 104 0 1 1 128 24a104.11 104.11 0 0 1 104 104m-16 0a88 88 0 1 0-88 88a88.1 88.1 0 0 0 88-88"/>
        </g>
      </svg>
      <app-currency-changer-icon class="relative top-1"/>
    </div>
  </div>
</div>

